@import "../../assets/scss/main.scss";

.card {
  flex: 0 0 31%;
  height: 30rem;
  background: $color-light;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 2px 2px 9px rgba($color-primary, 0.3);
  transition: .4s;
  @include media(hover) {
    background: rgba($color-primary, .2);
    transform: translateY(-5px);
  }
}

.imageBody {
  height: 60%;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
  }
}

.content {
  padding: 1.7rem 1rem;
  text-align: left;

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    margin-top: 1.4rem;
  }
}
