@import "../../assets/scss/main.scss";

.body {
    width: max-content;
    padding: .2rem 1rem 1.5rem;
    box-shadow: 2px 2px 9px -1px rgba($color-primary, .4);
    @include media(720px) {
        margin-bottom: 4rem;
       }

    p {
        font-size: 1.3rem;
        border-bottom: 1px dotted $color-primary;
        margin: 1.5rem 0;
    }
   

    label {
        display: inline-block;
        font-weight: 600;
        text-transform: uppercase;
        transform: translateY(-2px);
        margin: 0 13px 0 5px;
        cursor: pointer;
    }
}